.image{
  	background: url("file:///C:/Users/Paci/git/SchachingerRep/SchachingerLog/WebContent/resources/images/Schachinger.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}