@charset "ISO-8859-1";
.panel {
	margin: 0 auto;
	margin-top: 5%;
	max-width: 700px;
}
.col-md-12{
	text-align: center;
	min-height: 49px;
}

.deficiencyCol{
	width: 65%;
	float: left;
}
.deficienciesCol{
	width: 35%;
	float: right;
}
.ui-c{
	content: 'Hallo'; 
}
.ui-button {
	background-color: rgba(66, 139 , 202, 0.3) !important;
	background-image: none !important;
	align: center !important;
	border-color: rgba(66, 139 , 202, 0.3) !important;
}	
.ui-fileupload{
	padding: 20px;
	padding-bottom: 5px;
}
.ui-fileupload-buttonbar {
	background-color: rgb(230, 242, 255) !important;
	background-image: none !important;
}
.ui-fileupload-content {
  	background-color: rgba(66, 139 , 202, 0.3) !important;
  	background-image: none !important;
}
.ui-panelGroup{
	padding-top: 20px;
	
}
.logo {
    height: auto; 
    width: auto; 
    max-width: 25%; 
    max-height: 20%;
    float: right;
    margin-bottom: 20px;
}
