.ui-datatable{
	width: 98%;
	margin: 0 auto;
	text-alig: center;
}
.ui-datatable table{
	table-layout: auto;
	font-size:14px;
}
.form-control.chatInput{
	margin: 0 auto;
	width: 95%;
	margin-top: 5px;
}
.overlayImage{
	width: 630px;
}
.dtMessages{
	width: 95%;
}
.ui-widget-content{
	margin: 0 auto;
}
.col-md-12{
	text-align: center;
	min-height: 49px;
}
.ui-button-text-only{
	max-width: 50px;
	min-width: 45px;
}
.msgButton.ui-widget button{
	font-size:16px !important;
}
.ui-widget .ui-widget{
	font-size: 0.7em;
}
.doneColumn{
		font-size: 20px;
}
td{
	text-align: center;
}
.ui-widget textarea{
	font-size: 14px;
}
