.ui-datatable{
	width: 98%;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.ui-datatable table{
	table-layout: auto;
	font-size:14px;
}
.ui-row-edititing{
	table-layout: auto;
}
form{
	text-align: center;
}
.imageUpload{
	margin: 0 auto;
	max-width: 90%;
}
.fileUpload{
	margin-top: 10px;
	
}
.form-control.chatInput{
	margin: 0 auto;
	width: 95%;
	margin-top: 5px;
}
.overlayImage{
	width: 630px;
}
.dtMessages{
	width: 95%;
}
.ui-widget-content{
	margin: 0 auto;
}
.col-md-12{
	min-height: 49px;
}
.ui-button-text-only{
	max-width: 50px;
	min-width: 45px;
}
.msgButton.ui-widget button{
	font-size:16px !important;
}
.ui-widget .ui-widget{
	font-size: 0.9em;
}

.ui-widget textarea{
	font-size: 14px;
}
.logo{
	margin-top: 10px;
	max-width: 25%; 
}