@charset "ISO-8859-1";
.panel {
	margin: 0 auto;
	margin-top: 5%;
	max-width: 700px;
}
.col-md-12{
	text-align: center;
	min-height: 49px;
}

.mangelCol{
	width: 65%;
	float: left;
}
.maengelCol{
	width: 35%;
	float: right;
}
.ui-c{
	content: 'Hallo'; 
}
.ui-button {
	background-color: rgba(66, 139 , 202, 0.3) !important;
	background-image: none !important;
	align: center !important;
	border-color: rgba(66, 139 , 202, 0.3) !important;
}	
.ui-fileupload-buttonbar {
	background-color: rgb(230, 242, 255) !important;
	background-image: none !important;
}
.ui-fileupload-content {
  	background-color: rgba(66, 139 , 202, 0.3) !important;
  	background-image: none !important;
}
.panelUpload{
	margin-top: 5px;
}
