@charset "ISO-8859-1";
.panel {
	margin: 0 auto;
	margin-top: 5%;
	max-width: 700px;
}
.col-md-12{
	text-align: center;
	min-height: 49px;
}

.serviceCol{
	width: 65%;
	float: left;
}
.servicesCol{
	width: 35%;
	float: right;
}
.logo {
    height: auto; 
    width: auto; 
    max-width: 25%; 
    max-height: 20%;
    float: right;
    margin-bottom: 20px;
}